@import "tailwindcss";

@layer utilities {
  .svg-draw-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawStroke 2s ease-out forwards;
  }

  .svg-draw-2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawStroke 2s ease-out 0.5s forwards;
  }

  .svg-draw-3 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawStroke 2s ease-out 1s forwards;
  }

  .animate-fade-up {
    animation: fadeUp 1s ease-out 1.5s forwards;
    opacity: 0;
  }

  @keyframes drawStroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      transform: translateY(0);
    }
  }

  .animate-page-enter {
    animation: pageEnter 0.4s ease-out forwards;
  }

  @keyframes pageEnter {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}